* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.container {
    margin: 0 auto;
    width: 1352px;

    @media (width < 1352px) {
        width: 100%;
        padding: 0 15px;
    }
}

.title,
.section-title,
.column-title,
.column-subtitle {
    font-family: 'Raleway', sans-serif;
}


.title {
    font-size: 49px;
}

.section-title {
    font-size: 36px;
}

.column-title {
    font-size: 20px;
}

.column-subtitle {
    font-size: 12px;
}

.logo {
    text-decoration: none;
    color: $color-primary;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}