.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
    width: 100%;
    background: #FFFFFF;
    height: 70px;

}

.header.is-sticky {
    background: #FFFFFF;
    box-shadow: 0 3px 20px #00000029;
}

.header-logo-link {}

.header-logo {
    font-size: 32px;

}

.menu {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-list {
    height: 100%;
    display: flex;
    gap: 95px;
    align-items: center;
    text-transform: uppercase;
}


.menu-item {
    height: 100%;
}


.menu-link {
    height: 100%;
    text-transform: uppercase;
    color: $text-color-secondary;
    font-size: 11px;
    font-weight: bold;
    transition: 0.2s;
    display: flex;
    align-items: center;
    padding: 0 10px;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
}


.menu-link::after {
    width: 100%;
    height: 4px;
    background: $color-primary;
    position: absolute;
    bottom: 0;
    left: 0;
}

.menu-link:hover::after {
    content: "";
}

.menu-link:hover {
    color: $text-color-primry;
}

.burger {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    display: none;

    strong {
        display: none;
    }

    span {
        border-radius: 2px;
        background: $color-primary;
        height: 4px;
        width: 35px;
    }

    .line_1 {
        transition: transform 0.4s ease-in-out;
    }

    .line_2 {
        transition: transform 0.2s ease-in-out;
    }

    .line_3 {
        transition: transform 0.4s ease-in-out;

    }
}

.burger-open {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    display: none;


    .line_1 {
        transform: rotate(45deg) translate(8px, 8px);
        transition: transform 0.4s ease-in-out;
    }

    .line_2 {
        transform: scaleY(0);
        transition: transform 0.2s ease-in-out;
    }

    .line_3 {
        transform: rotate(-45deg) translate(2px, -5px);
        transition: transform 0.4s ease-in-out;

    }
}


@media (width < 780px) {
    .burger {
        display: flex;
    }

    .menu {
        // position: fixed;
        left: 0;
        top: 100%;
        width: 100%;
        position: absolute;
        // height: auto;
        background: #fff;
        box-shadow: 2px 0 20px rgba(#000, 0.3);
        padding: 70px 20px;
        translate: 0 -110%;
        transition: 0.2s translate;
        z-index: -1;
    }

    .menu.is-show {
        translate: 0 0;
    }

    .menu-list {
        flex-direction: column;
        gap: 14px;
        height: auto;

        align-items: flex-start;
    }

    .menu-link::after {
        background: transparent;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}